@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/dashboard.css">
}

@section Scripts {
    <script src="~/Scripts/dashboard.js"></script>
}

<div class="background"></div>
<div class="dashboard-container">
    <div class="header">
        <div class="header-items-left">
            <a href="@Url.Action("Index", "Home")" class="home-link">
                <i class="fa fa-home fa-2x home-icon" id="homeIcon"></i> <!-- Icona Home -->
            </a>
        </div>
        <div class="header-items-right">
            <i class="fa fa-bell-o fa-2x notification-icon"></i>
            <i class="fa fa-cogs fa-2x settings-icon"></i>
            <i class="fa fa-user-circle-o fa-2x account-icon"></i>
        </div>
    </div>
    <div class="content">
        <div class="left-section">
            <div class="menu-header">
                <h3>Menu</h3>
                <i class="fa fa-times fa-2x close-icon visible" id="closeIcon"></i> <!-- X icon -->
            </div>
            <div class="menu-buttons">
                <a href="#" class="menu-button">Impalcature</a>
                <a href="#" class="menu-button">Prenotazioni</a>
                <a href="#" class="menu-button">Utenti</a>
                <a href="#" class="menu-button">Statistiche</a>
            </div>
        </div>
        <div class="right-section" id="rightSection">
            <div class="right-header">
                <i class="fa fa-bars fa-2x hamburger-icon" id="hamburgerIconRight"></i> <!-- Hamburger icon -->
            </div>
            <h3>Contenuto</h3>
            <!-- Contenuto della sezione destra -->
        </div>
    </div>
</div>