@{
    ViewBag.Title = "Réinitialiser le mot de passe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/login.css">
}

@section Scripts {
    <script src="~/Scripts/login.js"></script>
}

<div class="background"></div>
<div class="login-container">
    <div class="login-box">
        <h2>Réinitialiser le mot de passe</h2>
        @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="username" value="@ViewBag.Username" />
            <div class="input-group">
                <label for="newPassword">Nouveau mot de passe</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <button type="submit">Réinitialiser</button>
        }
    </div>
</div>