@{
    ViewBag.Title = "Home Page";
}

@*HERO Section*@
<section id="hero" class="hero d-flex align-items-center justify-content-center">
    <div class="preHero"></div>
    <img id="LogoHeroSection" class="hero-img fade-out" src="~/Content/Images/LogoBatibatSVG.svg" alt="Logo Bati'Bat Location Echaufaudages, Le partenaire de vos projets">
    <div class="hero-content text-center">
        <p class="construction-subtext">"Le partenaire de vos projets."</p>
    </div>
    <!-- SVG a forma di tetto -->
    <svg class="roof-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none">
        <polygon points="0,20 50,0 100,20" style="fill:#f8f9fa;" />
    </svg>
</section>
<br>
<section id="produits">
    <div class="container">    
        <h2 class="text-center mb-4">Nos Produits</h2>
        <hr><br>  
        <div class="row">
            <div class="col-md-6 mb-4">
                <figure class="snip-produit hover d-flex flex-column">
                    <div class="snip-image-area d-flex flex-column">
                        <img src="~/Content/Images/produit-1.png" alt="produit 1"/>
                        <div class="add-to-cart"> <i class="fas fa-plus"></i><span>détails</span></div>
                    </div>                    
                    <figcaption>
                        <h3>Kurie Secco</h3>
                        <p>If you do the job badly enough, sometimes you don't get asked to do it again. </p>
                        <div class="price">
                        <s>140€</s>100€ <span class="snip-price-period">par semaine</span> 
                        </div>
                    </figcaption><a href="#"></a>
                </figure>
            </div>
            <div class="col-md-6 mb-4">
                <figure class="snip-produit hover d-flex flex-column">
                    <div class="snip-image-area d-flex flex-column">
                        <img src="~/Content/Images/produit-2.png" alt="produit 1"/>
                        <div class="add-to-cart"> <i class="fas fa-plus"></i><span>détails</span></div>
                    </div>                    
                    <figcaption>
                        <h3>Kurie Secco</h3>
                        <p>If you do the job badly enough, sometimes you don't get asked to do it again. </p>
                        <p>If you do the job badly enough, sometimes you don't get asked to do it again. </p>
                        <div class="price">
                        <s>200€</s>150€ <span class="snip-price-period">par semaine</span> 
                        </div>
                    </figcaption><a href="#"></a>
                </figure>
            </div>
            <div class="col-md-6 mb-4">
                <figure class="snip-produit hover d-flex flex-column">
                    <div class="snip-image-area d-flex flex-column">
                        <img src="~/Content/Images/produit-3.png" alt="produit 1"/>
                        <div class="add-to-cart"> <i class="fas fa-plus"></i><span>détails</span></div>
                    </div>                    
                    <figcaption>
                        <h3>Kurie Secco</h3>
                        <p>If you do the job badly enough, sometimes you don't get asked to do it again. </p>
                        <div class="price">
                        <s>180€</s>130€ <span class="snip-price-period">par semaine</span> 
                        </div>
                    </figcaption><a href="#"></a>
                </figure>
            </div>
            @* <div class="col-md-4 mb-4">
                <figure class="snip-produit hover"><img src="~/Content/Images/produit-2.png" alt="produit 2"/>
                    <div class="add-to-cart"> <i class="ion-android-add"></i><span>Add to Cart</span></div>
                    <figcaption>
                        <h3>Kurie Secco</h3>
                        <p>If you do the job badly enough, sometimes you don't get asked to do it again. </p>
                        <div class="price">
                        <s>$24.00</s>$19.00
                        </div>
                    </figcaption><a href="#"></a>
                </figure>                
            </div>
            <div class="col-md-4 mb-4">
                <figure class="snip-produit hover"><img src="~/Content/Images/produit-3.png" alt="produit 3"/>
                    <div class="add-to-cart"> <i class="ion-android-add"></i><span>Add to Cart</span></div>
                    <figcaption>
                        <h3>Kurie Secco</h3>
                        <p>If you do the job badly enough, sometimes you don't get asked to do it again. </p>
                        <div class="price">
                        <s>$24.00</s>$19.00
                        </div>
                    </figcaption><a href="#"></a>
                </figure>
            </div> *@
        </div>
    </div>
</section>
@*Service*@
<br>
<section id="services" class="services bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Nos Services</h2>
        <hr><br>
        <div class="row row-services">
            <div class="col-md-6 mb-6">
                <div class="service-item d-flex flex-column bg-white shadow-sm">
                    <div class="square-banner-left d-flex align-items-center justify-content-center mb-3">
                        <div class="icon-container">
                            <i class="fa-solid fa-calendar-days iconservice-svg truck-color"></i> <!-- Icona di un camion in movimento -->
                            <button class="click-icon-service" onclick="window.location.href='@Url.Action("Reservation", "Home")';">
                                <i class="fas fa-hand-pointer"></i>
                                <span class="click-service-effect"></span>
                            </button>                             
                        </div> 
                        <div class="reservation-banner">Reservation</div> 
                    </div>
                    <div class="p-4">
                        <h3 class="text-left">Location d'échafaudages</h3>
                        <p><span class="first-letter">N</span>ous sommes spécialisés dans la location d'échafaudages pour tous les types de chantiers. Nous proposons des solutions personnalisées pour répondre à tous vos besoins.</p>
                    </div> 
          
                 </div>
            </div>            
            <div class="col-md-6 mb-6">
                <div class="service-item d-flex flex-column bg-white shadow-sm">
                    <div class="square-banner-right d-flex align-items-center justify-content-center mb-3">
                        <div class="icon-container">
                            <i class="fas fa-headset iconservice-svg assist-color"></i> 
                            <button class="click-icon-service" onclick="window.location.href='tel:+330695889208';">
                                <i class="fas fa-hand-pointer"></i>
                                <span class="click-service-effect"></span>
                            </button>
                        </div>
                        <div class="assistence-banner">Assistance</div> 
                    </div>
                    <div class="p-4">
                        <h3 class="text-left">Assistance et Maintenance</h3>
                        <p><span class="first-letter">N</span>ous offrons un suivi et une maintenance continus pour garantir que l'échafaudage est toujours en parfait état.</p>
                    </div>               
                 </div>
            </div>
        </div>
    </div>
</section>

@*Contact*@
<section id="contact" class="contact py-5">
    <div class="container">
        <h2 class="text-center mb-4">Contactez-nous pour plus d'informations</h2>
        <hr><br>
        <div class="mail">
            <div class="envelope-wrapper">
                <div class="envelope">
                    <div class="envelope-top"></div>
                </div>
                <button class="email-button">
                    Email
                    <div class="click-icon">
                        <i class="fas fa-hand-pointer"></i>
                        <div class="click-effect"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>